/* CUSTOM STYLES */


@font-face{
  font-family:'Matter-Bold'; src:url('../fonts/Matter-Bold.otf');
}


@font-face{
  font-family:'GeogrotesqueCyr-Medium'; src:url('../fonts/GeogrotesqueCyr-Medium.ttf');
}

@font-face{
  font-family:'GeogrotesqueCyr-Regular'; src:url('../fonts/GeogrotesqueCyr-Regular.ttf');
}


@font-face{
  font-family:'Matter-Regular'; src:url('../fonts/Matter-Regular.otf');
}


body, html {background:#fff;font-family: 'Barlow Condensed', sans-serif;scroll-behavior: smooth;overflow-x: hidden;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, ul, li {font-family: 'Barlow Condensed', sans-serif;}

header {position:absolute;top: 9%;left:5%;right:5%;}
header .row {margin:0px;}
header a {display:inline-block;text-decoration:none;}
header a img {position:relative;z-index:3;max-width: 165px;margin: 0;}

.header-section {left:5%;right:5%;}
.header-section .row {margin:0px;}

.back-home video {
  transition:.6s;
  min-width: 100%;
  height: 100vh !important;
  z-index: 1;
  object-fit:cover;
  object-position:center;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}

.modal-video {background: transparent;display:flex;align-items:center;top:0;bottom:0;position: absolute;left: 0;right: 0;padding: 0;transition:.6s;transform: translate(0px, 110%);opacity: 0;z-index: -5;}
.modal-video video {max-width: 100%;max-height: inherit;height: auto !important;object-fit: inherit;display: inline-block;width: 100%;object-position: inherit;position:relative;}
.modal-video .close-modal {z-index: 5;position: absolute;right: -10px;top: -10px;background: #5369e1;color: #fff;font-size: 18px;width: 32px;height: 32px;border-radius: 100%;display: flex;align-items: center;justify-content: center;line-height: 0;font-weight: bold;padding-left: 1px;padding-top: 1px;transition:.6s;}
.modal-video .close-modal:hover {cursor:pointer;opacity:.6;transition:.6s;}
.modal-video.transition-modal {transition:.6s;transform: translate(0px, 0%);opacity:1;z-index:9;background:linear-gradient(180deg, rgba(36,50,79,1) 0%, rgba(67,119,185,0) 100%);}

.postition-cont-home {margin-top:auto;margin-bottom:100px;}

.absolut-image-home {position: absolute;left: 0;z-index: 2;bottom:-228px;max-width: 230px;width: 100%;}

.back-home {position:relative;background:url('../img/image-video-home-01-v2.png');background-size: cover !important;background-position:center !important;min-height:100vh;}
.filter-01 {background:url('../img/back-home-filter-02.png');background-size: cover !important;background-position:left !important;position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;}
.filter-02 {background:url('../img/filter-01.png') !important;background-size: cover !important;background-position:center !important;position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;}
.filter-top {min-height:140px;background:url('../img/sombra-en-blanco.png') !important;background-size: cover !important;background-position:center !important;position:absolute;left:0;right:0;top:0;z-index:1;}

.box-header-section {display: inline-block;max-width: 500px;padding:0 15px;}
.back-home h3 {color: #fff;font-family:'GeogrotesqueCyr-Regular';margin:0;font-size:4em;line-height:1;position:relative;z-index:2;}
.back-home p {color: #fff;font-family:'GeogrotesqueCyr-Medium';margin: 21px 0 0;font-size: 24px;line-height: 1.1;position:relative;z-index:2;}

.absolute-icon {position: absolute;right: 0;bottom: 0;left: 0;top: 0;display: flex;align-items: center;justify-content: center;}
.absolute-icon img {max-width:70px;cursor:pointer;position:relative;z-index:3;}

.secciones {text-align:center;background:transparent;padding: 20px 0;z-index:9;transition:.6s;position:absolute;left:0;right:0;}
.secciones .content-menu {display: inline-flex;align-items: center;background: rgb(239 244 250 / 91%);border-radius: 40px;padding:10px 5px;}
.secciones .box-menu {background: transparent;transition:.6s;color:#53537D;display: inline-block;width: 100%;border-radius: 20px;padding:13px 22px 10px;margin:0 10px;}
.secciones.absolute-menu {position:fixed;left:0;right:0;top:0;transition:.6s;}
.secciones .col-12 {padding:0 5px;}
.secciones .box-menu:hover, .secciones .box-menu.active {background: #002F87;transition:.6s;text-decoration:none;}
.secciones .box-menu:hover p, .secciones .box-menu.active p {color:#fff;transition:.6s;}


.secciones .box-menu .back-menu {min-height: 200px;width: 100%;background-size: cover !important;background-position: center !important;}
.secciones .box-menu p {color: #53537D;transition:.6s;text-align: center;margin: 0 0;font-size: 15px;font-family: 'GeogrotesqueCyr-Medium';line-height:normal;}
.menu-slider p {color: #0f1544;text-align: left;margin: 0 0 10px;font-size: 23px;font-family:'GeogrotesqueCyr-Medium';line-height:1.1;}
.menu-slider a {text-decoration:none;}
.content-titles {background:#fff;padding:100px 0;position:relative;}
.content-titles h2 {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin:0;font-size: 6.4em;line-height:1;}
.content-titles h3 {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin:0;font-size: 2.8em;line-height:1;}
.content-titles p {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin: 25px 0 0;font-size: 20px;line-height: 1.1;}
.content-titles a img {margin-top:40px;}

.img-foot-sec-home {position: absolute;right: 0;bottom: 0;max-width: 250px;}

.sec-propuesta {background:#0f1544;padding:150px 0 100px;min-height: 90vh;background-attachment: fixed !important;background-position: center !important;background-size: cover !important;}
.sec-propuesta h3 {color: #fff;font-family:'GeogrotesqueCyr-Medium';margin:0 0 20px;font-size:2.3em;line-height:1.2;}
.sec-propuesta p {color: #fff;font-family:'GeogrotesqueCyr-Medium';margin: 25px 0 0;font-size: 20px;line-height: 1.1;}
.sec-propuesta hr {border-color: #fff;border-width: 8px;max-width: 40px;margin-right: auto;margin-left: 0;border-radius: 15px;}

.director {padding:100px 0;}
.director h3 {color: #0f1544;font-family:'Matter-Bold';margin:0 0 30px;font-size: 2.7em;line-height:1;text-align:center;}
.icon-play {position:absolute;left:0;right:0;bottom:0;top:0;display:flex;align-items:center;justify-content:center;}

.carrousel-categorias {padding:100px 0;background:#fff;position:relative;}
.carrousel-categorias .arrow-left-sect-prodct {position: absolute;left: 0;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;z-index: 2;}
.carrousel-categorias .arrow-left-sect-prodct img {max-width:50px;}
.carrousel-categorias .item {padding:0px 30px;}
.arrow-absolute-product {position: absolute;right: 0;top: 0;bottom: 0;max-width: 300px;}
.carrousel-categorias h3 {max-width:70%;position:relative;z-index:2;color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin:0;font-size: 3.4em;line-height:1;}
.carrousel-categorias p {max-width:70%;position:relative;z-index:2;color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin:15px 0 25px;font-size: 19px;line-height: 1.2;}
.carrousel-categorias a {transition:.6s;display: inline-block;border: 2px #002F87 solid;padding: 13px 40px;color: #002F87;font-family: 'GeogrotesqueCyr-Medium';font-size: 12px;border-radius: 10px;}
.carrousel-categorias a:hover {text-decoration:none;transition:.6s;opacity:.6;}
.carrousel-categorias .todos-link a {background:#004BAF;border-color:#004BAF;color: #fff;margin-top:50px;text-decoration:none;}

#destacados {background:#fff;border-radius:7px;}
#destacados .owl-dots {position: absolute;bottom: -20px;z-index:2;left: 0;right: 0;text-align: center;}
#destacados .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #004BAF;}
#destacados .owl-dots .owl-dot span {width: 7px;height: 7px;margin: 0 3px;}
#destacados .owl-stage-outer {z-index:1;}
#destacados .owl-nav {display:none;position: absolute;left: 0;right: 0;top: 0;bottom: 0;align-items: center;justify-content: center;}
#destacados .owl-nav button.owl-prev {margin-right: auto;margin-left: -30px;font-size: 60px;transition:.6s;}
#destacados .owl-nav button.owl-next {margin-right:-30px;font-size: 60px;transition:.6s;}
.owl-theme .owl-nav [class*='owl-']:hover, .owl-theme .owl-nav [class*='owl-']:focus {border: none;outline:none;background:none;transition:.6s;color: #000;}


.novedades .contante-novedad {background-color:#fff;min-height: 545px;background-size: contain !important;background-position: top center !important;background-repeat: no-repeat !important;border-radius: 10px;display: flex;align-items: flex-start;justify-content: flex-end;flex-direction: column;padding: 10px 35px 45px;text-align: left;position: relative;}
.filter-01-nov {position: absolute;top: 0;bottom: 0;right: 0;left: 0;border-radius: 10px;z-index: 0;}
.filter-02-nov {position: absolute;top: 0;bottom: 0;right: 0;left: 0;border-radius: 10px;z-index: 0;}
.filter-03-nov {position: absolute;top: 0;bottom: 0;right: 0;left: 0;border-radius: 10px;z-index: 0;}
.novedades .contante-novedad h3 {font-size: 18px;margin: 0 0 6px;color: #002F87;position: relative;}
.novedades .contante-novedad hr {position:relative;margin: 0 0 15px;border-color: #62B86C;border-width: 7px;max-width: 30px;border-radius: 40px;}
.novedades .contante-novedad p {margin: 0;font-size: 26px;font-family:'GeogrotesqueCyr-Medium';color: #002F87;position: relative;line-height: 1;}
.novedades .contante-novedad:hover {text-decoration:none;}
.novedades .item {background:#fff;border-radius:15px;}
.min-h-nov {min-height:140px;}

.novedades {padding:100px 0;background:rgb(230 234 240 / 60%);}
.novedades h3 {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin:0;font-size: 4.5em;line-height:1;}
.novedades p {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin: 5px 0 35px;font-size: 25px;line-height: 1.1;}

.cta-nov {transition:.6s;display: inline-block;border: 2px #fff solid;padding: 13px 40px;color: #fff;font-family:'GeogrotesqueCyr-Medium';font-size: 13px;border-radius: 15px;margin: 0px 0 30px;background: #004BAF;}
.cta-nov:hover {text-decoration:none;opacity:.6;transition:.6s;color: #fff;}

.explora {padding:50px 0 0;background:#fff;}
.explora h3 {color:rgb(0 8 57 / 84%);font-family:'GeogrotesqueCyr-Medium';margin:0;font-size: 3.8em;line-height:1;}
.explora p {color:rgb(0 8 57 / 50%);font-family:'GeogrotesqueCyr-Medium';margin: 5px 0 0;font-size: 27px;line-height: 1.1;}

.back-video-01 {display: inline-block;border-radius: 15px;background:url('../img/cat--07.png');background-size:cover;background-position:center;width:100%;height: 240px;}
.back-video-01 video {opacity:0;transition:.6s;}

.back-video-02 {display: inline-block;border-radius: 15px;background:url('../img/cat--08.png');background-size:cover;background-position:center;width:100%;height: 240px;}
.back-video-02 video {opacity:0;transition:.6s;}

.back-video-03 {display: inline-block;border-radius: 15px;background:url('../img/cat--09.png');background-size:cover;background-position:center;width:100%;height: 240px;}
.back-video-03 video {opacity:0;transition:.6s;}

.back-video-04 {display: inline-block;border-radius: 15px;background:url('../img/cat--10.png');background-size:cover;background-position:center;width:100%;height: 240px;}
.back-video-04 video {opacity:0;transition:.6s;}
video {opacity:1;transition:.6s;}

.menu-slider {margin-top:0%;background: #fff;padding: 70px 40px;position:relative;}
.menu-slider .swiper-wrapper {
  padding: 20px 0;
}

.menu-slider .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 250ms all;
  border-radius:5px;
}
.menu-slider .swiper-slide.nohover:hover
{

  transform:none !important;
  z-index: 0;
}

.menu-slider .swiper-slide:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.menu-slider .swiper-slide:first-child:hover {
  margin: 0 40px;
}

.menu-slider .swiper-slide:last-child:hover {
  margin: 0 -40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position:relative;
  z-index:3;
}
.menu-slider video {max-width:100%;object-fit:cover;height:240px;border-radius: 15px;box-shadow:2px 3px 14px 0px rgb(0 0 0 / 49%);}
.menu-slider img {max-width:100%;width:100%;}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  /* Update: Removed the Flex property - IE FIX */
 
}
#novedad .owl-stage-outer, #novedad .owl-stage {display:flex;align-items:center;justify-content:center;}

footer {background: #e6eaf0;padding:100px 0px 0px;}
.backfootcolor {background: #002F87;padding: 70px 0px;margin: 0px;}
.backfootcolor img {max-width:140px;}

footer h3 {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin: 0;font-size: 4em;line-height: 1;}
footer p {color: #002F87;font-family:'GeogrotesqueCyr-Medium';margin: 25px 0 0;font-size: 20px;line-height: 1.1;}
.circle-line {width:100%;position:relative;text-align:left;}
.circle-line i {width: 50px;height: 14px;background: rgb(83 83 125 / 31%);border: 2px rgb(83 83 125 / 31%) solid;border-radius: 10px;margin: 5px auto 10px;display:inline-block;transition:.6s;}
.circle-line::before {content: '';width:89%;transition:.6s;opacity:1;position: absolute;height: 1px;background: rgb(83 83 125 / 31%);right: 0;left: 14%;top:11px;}
.circle-line.lstch::before {content: '';width: 100%;transition:.6s;opacity:1;position: absolute;height: 1px;background: rgb(83 83 125 / 31%);right: 0;left: 14%;top:11px;}
.swiper-wrapper .description-card {color:#53537d;opacity:0;transition:.6s;font-size:17px;margin: 0;position:absolute;transform: translate(0%, -30%);left: 0;right: 0;}

.item-01-p .circle-line i {background:#62B86C;transition:.6s;border-color:#62B86C;}
.item-01-p.active-item-dot .description-card {opacity:1;transition:.6s;position:relative;transform: translate(0%, 0%);}
.item-01-p p {color:#62B86C}

.item-02-p .circle-line i {background:#004BC5;border-color:#004BC5;transition:.6s;}
.item-02-p.active-item-dot .description-card {opacity:1;transition:.6s;position:relative;transform: translate(0%, 0%);}
.item-02-p p {color:#004BC5}

.item-03-p .circle-line i {background:#009FE3;border-color:#009FE3;transition:.6s;}
.item-03-p.active-item-dot .description-card {opacity:1;transition:.6s;position:relative;transform: translate(0%, 0%);}
.item-03-p p {color:#009FE3}

.item-04-p .circle-line i {background:#00BDAD;border-color:#00BDAD;transition:.6s;}
.item-04-p p {color:#00BDAD}
.item-04-p.active-item-dot .description-card {opacity:1;transition:.6s;position:relative;transform: translate(0%, 0%);}

.btn-home {position: fixed;right:0%;bottom: 50%;transition: .6s;z-index:999;}
.btn-home a {background: #001871;color: #fff;display: inline-block;padding: 12px 13px 12px 19px;font-size: 21px;border-radius: 25px 0px 0px 25px;}

.btn-hl {position: fixed;right:0%;bottom: 59%;transition: .6s;z-index:999;}
.btn-hl a {background: #004baf;color: #fff;display: inline-block;padding:8px 7px 13px 19px;font-size: 21px;border-radius: 25px 0px 0px 25px;}
.btn-hl a img {max-width:29px;}

.image-alternative {background-size: cover;width: 100%;min-height: 299px;background-position: center;height: 45%;position: absolute;left: 0;right: 0;top: 0;border-radius: 15px 15px 0px 0px;}

.image-alternative.cust-image-alternative {height:75%;background-position:top center;}

footer iframe {height:1200px !important;}

.section-new {padding: 150px 0px;background-position: center;background-size: cover;min-height: 100vh;display: flex;align-items: center;}
.section-new h4 {font-family:'GeogrotesqueCyr-Medium';color:#fff;margin:0;line-height:normal;font-size:100px;}
.section-new h4 small {font-size:47px;}
.section-new p {font-family:'GeogrotesqueCyr-Medium';color:#fff;margin:0 0 50px;line-height:1;font-size:23px;}
.section-new hr {background-color:#fff;border-width:3px;width:100%;}
.flex-div span {flex:1;color:#fff;line-height:1;font-family:'GeogrotesqueCyr-Medium';text-align:center;font-size:15px;}

.section-new-bot {min-height: 60vh;background-size: cover;background-position: center;background-color: #002F87;display: flex;align-items: center;justify-content: center;}
.section-new-bot h5 {color:#fff;font-family:'GeogrotesqueCyr-Medium';font-size: 50px;}
.section-new-bot h5 small {font-size:24px;}
.section-new-bot p {color:#fff;font-family:'GeogrotesqueCyr-Medium';font-size: 15px;line-height: 1.5;}
.section-new-bot hr {margin-bottom: 0;margin-top: auto;background: #fff;width: 55px;margin-right: auto;margin-left: 0;border-width: 8px;border-radius: 10px;}


@media only screen 
  and (max-width: 767px){

    .flex-div {flex-wrap:wrap;}
    .flex-div span {margin-bottom:20px;flex:0 0 30%;}
    .filter-01 {background-position: 10% !important;}
    .section-new p {font-size:19px;}
    .section-new-bot {padding:50px 10px;}
    .section-new-bot hr {margin-bottom:35px;}
    .responsiveboxmenu {background: #fff;padding:40px;}
    .responsiveboxmenu p {color: #53537D;text-align: center;margin: 10px 0 10px;font-size: 15px;font-family: 'Matter-Bold';}
    .responsiveboxmenu p.description-card {    font-size: 13px;margin: 0;}
    .back-menu-item {min-height: 240px;width: 100%;background-size: cover !important;background-position: center !important;border-radius: 5px;margin-bottom: 20px;}

    #responsiveMenu .owl-nav {position: absolute;left: -30px;right: -30px;bottom: 0;top: 0;display: flex;align-items: center;justify-content: center;z-index: 1;}
    #responsiveMenu .owl-nav .owl-prev {margin-right:auto;font-size:41px;color: #fff}
    #responsiveMenu .owl-stage-outer {position:relative;z-index:3;}
    #responsiveMenu .owl-nav .owl-next {font-size:41px;color: #fff}
    .modal-video .container {margin:auto 0 !important;}

    .content-titles {padding:0px 0px 100px;}

    .sec-propuesta h3 {font-size:24px;}
    .back-home {background:url('../img/back-mobile-home.png');}
    .back-home #videoheader {display:none;}

    .back-home {min-height:75vh !important;}
    .back-home p {margin:5px 0px 0px;max-width:65%;margin:0 auto;}
    nav span {font-size:11px !important;}
    .absolute-icon {top:-105px;}
    .sec-propuesta {background-attachment:inherit !important;}
  	.back-home h3 {font-size: 41px;}
    .back-home p {font-size: 14px;}
    .back-home .container {margin-top:auto;margin-bottom:10%;}
    .absolute-icon img {max-width:65px;}
    .swiper-container-dots {display:none;}
    .content-titles h2 {font-size: 3.4em;}
    .content-titles h3 {font-size:33px;}
    .content-titles p {font-size:15px;}
    footer h3, .explora h3, .novedades h3 {font-size:41px;}
    footer p {font-size:16px;margin: 25px 0 30px;}
    .carrousel-categorias .item {padding:30px;}
    .carrousel-categorias h3 {font-size:38px;max-width:100%;}
    .carrousel-categorias p {font-size:15px;max-width:100%;}

    #destacados .owl-nav button.owl-prev {margin-left:0;}
    #destacados .owl-nav button.owl-next {margin-right:0;}

    #novedades {padding:0 15px;}
    #novedades .owl-item {margin: 0px}
    .novedades .contante-novedad {min-height:400px;padding:0px 0px 45px;}
    .image-alternative {position:relative;}
    .min-h-nov {padding:30px 35px 0px;}
    #destacados .owl-dots {position:relative;}
    .carrousel-categorias .arrow-left-sect-prodct {z-index:4}
    .carrousel-categorias a {margin-bottom:40px;}

    #novedad .owl-stage-outer, #novedad .owl-stage {display:block;}
    .menu-slider .swiper-slide {pointer-events:auto !important;}

    .btn-home a {padding: 9px 10px 10px 15px;font-size: 16px;}
    .btn-hl a img {max-width:23px;}
    .btn-hl a {padding:3px 4px 6px 16px;}

    .secciones .content-menu {flex-wrap:wrap;margin:0 10px !important;}
    .secciones .box-menu {width:auto;flex:1;}
    .arrow-absolute-product {display:none !important;}
    .absolut-image-home {max-width:135px;bottom:-135px;display:none;}
    .no-js .owl-carousel, .owl-carousel.owl-loaded {position:relative;z-index:3}

    .res-section.back-home h3 {font-size:36px;}
    .res-section .box-header-section {max-width:100%;padding:0 5px;}
    .res-section .header-section {margin-top:auto;margin-bottom:40px;left:0;right:0;text-align:center;}
    .res-section .absolute-icon {top:0;}

    footer .col-12.text-center p {font-size:14px !important;}

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background:#004baf;}
    .owl-theme .owl-nav.disabled + .owl-dots {position:relative;z-index:2;}
    .owl-theme .owl-dots .owl-dot span {height:8px;width:8px;background:rgb(0 24 113 / 38%);}
}


