html, body {margin:0;padding:0;}
html {
  scroll-behavior: smooth;
}
body{ font-family: 'Raleway', sans-serif;overflow-x:hidden;}

@font-face{
    font-family:Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.otf) format('opentype');
}

@font-face{
    font-family:Montserrat-Light;
    src: url(../fonts/Montserrat-Light.otf) format('opentype');
}

@font-face{
    font-family:Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face{
    font-family:Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf) format('opentype');
}


a:hover {text-decoration:none;color:inherit;}

header {position: fixed;left: 0;right: 0;z-index: 99;}

.absolute-img-border {position: absolute;bottom: 0;right: 0;z-index: 2;max-width: 150px;}

#pagepiling .section {
    background-size: cover !important;
    background-position:center !important;
    text-align: center;
}

#pagepiling .section.section-one {
    background-image: url('../img/back_home_agrix.png');
}

#pagepiling .section.section-one h3 {font-family: Montserrat-Light;color: #fff;margin: 0;font-size: 44px;}
#pagepiling .section.section-one p {font-family: Montserrat-Regular;margin: 0;color: #fff;font-size: 17px;}

#pagepiling .section.section-two {background:#000;overflow:hidden;}

#pagepiling .section.section-three {
    background-image: url('../img/fondo_servicios.png');
}

#pagepiling .section.section-three h3 {font-family: Montserrat-Light;color: #fff;margin: 0;font-size: 44px;}
#pagepiling .section.section-three p {font-family: Montserrat-Regular;margin: 0;color: #fff;font-size: 17px;}

#pagepiling .section.section-four {
    background-image: url('../img/fondo_contacto.png');
}

#pagepiling .section h2 {
    color: #ffffff;
    font-size: 10rem;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background-color: #ffffff;
}

.navbar-brand img {max-width:150px;}
.navbar-nav {margin-left:50px;}
.nav-item {margin: 0 15px;color: #fff;font-family: Montserrat-Light;}
.nav-item a {color:#fff;transition:.6s;}
.nav-item a:hover {transition:.6s;opacity:.6;}

.icon-wpp img {max-width:35px;}
.contacto-btn {transition:.6s;background: #DD0B14;display: inline-block;padding: 5px 15px;border:2px transparent solid;font-size: 13px;font-family: Montserrat-Regular;color: #fff;margin-left: 25px;}
.contacto-btn:hover {color:#fff;background:transparent;border:2px #DD0B14 solid;transition:.6s;}
#pp-nav li .active span, .pp-slidesNav .active span {background:#DD0B14;border-color:#DD0B14 !important;}
#pp-nav span, .pp-slidesNav span {width: 15px;height: 6px;border-radius:0px;transform: skew(0deg, 5deg);background:#fff}
#pp-nav li:nth-of-type(1) {margin: 0 25px;}
#pp-nav li:nth-of-type(2) {margin: 5px 20px;}
#pp-nav li:nth-of-type(3) {margin: 5px 15px;}
#pp-nav li:nth-of-type(4) {margin: 5px 10px;}


.carousel {background: transparent;}

.carousel-cell {margin:0 15px;opacity:.5;width:550px;height:auto;text-align:center;display:flex;align-items:center;justify-content:center;flex-direction:column;filter:grayscale(1);}
.carousel-cell.is-selected {zoom:1;}
.carousel-cell img {max-width:100%;transition:.6s;}
.carousel-cell a, .carousel-cell a:hover {text-decoration:none;}
.carousel-cell h3 {margin: -20px 0 0;font-size: 16px;font-family:'Helvetica-Bold';color: #b3c618;transition:.6s;}
.carousel-cell.is-selected a {text-decoration:none;}
.carousel-cell.is-selected a:hover {text-decoration:none;filter:grayscale(100);transition:.6s;}
.carousel-cell.is-selected h3 {font-size:24px;transition:.6s;}
.carousel-cell.is-selected img {max-width:100%;transition:.6s;}
.carousel-cell.is-selected {opacity:1;filter:grayscale(0);}

.tarjeta-producto {background: #fff;border-top: 8px #DD0B14 solid;padding: 10px 20px;}
.tarjeta-producto .titles {margin-bottom:10px;}
.tarjeta-producto .titles h4 {font-size: 12px;margin:0 0px 0px 20px;font-family: Montserrat-SemiBold;color: #000;}
.tarjeta-producto .titles hr {margin: 0 10px;width: 1px;height: 30px;background: #000;border: none;}
.tarjeta-producto .titles h2 {text-transform:uppercase;font-size: 17px !important;color: #000 !important;margin: 0;font-family: Montserrat-Light;text-shadow: none !important;}

.tarjeta-producto .textos-producto {background: rgb(96 96 96 / 11%);border-radius: 0 35px 0 35px;padding:0px 30px 0px 30px;text-align:left;min-height: 170px;margin-bottom:5px;display: flex;flex-direction: column;align-items: flex-start;justify-content: center;}
.tarjeta-producto .textos-producto p {font-family: Montserrat-Light;text-align: left;font-size: 11px;margin:15px 0 auto;}
.tarjeta-producto .textos-producto p strong {font-family:Montserrat-SemiBold;}
.tarjeta-producto .textos-producto .consultar {transition: .6s;background: #DD0B14;display: inline-block;padding: 5px 25px;border: 2px transparent solid;font-size: 12px;font-family: Montserrat-Regular;color: #fff;margin-bottom: 15px;}

.section-two .pp-tableCell {position:relative;top:25px;}

.btn-servicio img {max-width:170px;}
.btn-servicio {filter:grayscale(100%);border:3px transparent solid;transition:.6s;display: inline-block;padding: 35px 20px;border-radius: 0px 35px 0px 35px;width: 100%;background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(224,224,224,1) 100%);box-shadow: 4px 2px 16px 2px rgb(0 0 0 / 35%);min-height: 150px;display: flex;align-items: center;justify-content: center;}
.btn-servicio:hover {filter:grayscale(0%);transition:.6s;border:3px #fff solid;background:linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 100%);}

.text-contacto {background: #000;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;padding-left: 15%;text-align: left;padding-right:50px;}
.text-contacto h3 {color: #fff;text-transform: uppercase;font-family: Montserrat-Light;font-size:24px;}
.text-contacto p {color: #ffff;font-family: Montserrat-Light;margin:0 0 25px;font-size:13px;}

.contact-form input, .contact-form textarea, .contact-form select {text-transform: uppercase;font-size: 12px;width:100%;border:none;padding:10px 15px;background: rgb(255 255 255 / 26%);color: #fff;margin: 0 0 10px;}
.contact-form select option {color:#000;}
::placeholder {color: #fff;}
.contact-form input[type="submit"] {transition: .6s;background: #DD0B14;display: inline-block;padding: 10px 15px;border: 2px transparent solid;font-size: 14px;font-family: Montserrat-Regular;color: #fff;margin-left: 0;width: auto;margin: 0;float: right;text-transform: uppercase;}
.contact-form input[type="submit"]:hover {cursor:pointer;color:#fff;background:transparent;border:2px #DD0B14 solid;transition:.6s;}

.btn-interna {text-transform:uppercase;transition: .6s;background: #DD0B14;display: inline-block;padding: 5px 15px;border: 2px transparent solid;font-size: 14px;font-family: Montserrat-Regular;color: #fff;margin-top: 25px;}
.btn-interna:hover {color: #fff;background: transparent;border: 2px #DD0B14 solid;transition: .6s;}

.navbar-light .navbar-nav .nav-link {color:#fff;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color:#fff;}


@media screen and (min-width: 1024px) {
   
}
@media screen and (max-width:996px) {

}	
@media screen and (max-width:767px) {

    #pagepiling .section.section-one h3 {font-size:30px;}
    #pagepiling .section.section-one p {font-size:14px;}

    .max-logo-01 {max-width:100px;}
    .max-logo-02 {max-width:100px;}

    .carousel-cell {width:100%;}
    .tarjeta-producto .textos-producto {min-height:inherit;}

    #pagepiling .section.section-three h3 {font-size: 27px;}
    #pagepiling .section.section-three p {font-size:13px;}
    .btn-servicio {min-height: 80px;margin-bottom: 10px;}
    .btn-servicio img {max-width:150px;}

    .navbar-collapse {background: rgba(0, 0, 0, 0.99);padding: 10px 20px 20px;margin-top: 10px;border-radius: 0px 30px;}
    .navbar-nav {margin:0;}
    .nav-item {margin: 0 5px 0;}

    .navbar-light .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
    .navbar-light .navbar-toggler {color: #fff;border: none;padding: 0;margin-left: auto;}

    .navbar-brand {margin-right:auto;}
    .navbar-brand img {max-width: 122px;}
    .mg-top-cust {margin-right:auto;}
    .icon-wpp img {max-width: 25px;}
    .contacto-btn {font-size: 10px;margin-left:10px;}
    #pp-nav {display:none;}
    .tarjeta-producto .titles h2 {font-size: 14px !important;}
    .tarjeta-producto .textos-producto .consultar {font-size:10px;}
    .row {margin:0;}
    .text-contacto {padding:0 30px;}

    
    

}							