.section-header{padding:0; min-height:440px; -webkit-transition: 0.4s; transition: 0.4s;}
#banner_top{padding:0;}
#banner_top .ms-slide{background-size:cover; background-position:center center;}
.ms-slide .ms-layer{width:40%; color:#ffff; font-size:60px; line-height:52px; font-weight:bolder; text-align:center; margin-top:8% !important; text-transform:uppercase;}
.ms-slide .ms-layer img{max-width:90%;}
.ms-slide .ms-layer .btn{margin-top:20px; background:#dc4968!important; font-weight:bold; border:0;}

.search{width:350px; padding:8px 16px; position:absolute; bottom:20%; left:50%; margin-left:-175px; z-index:99; background:rgba(255,255,255,0.7); border-radius:25px;}
.search input{width:270px; padding:8px 0; background:transparent; border:0;}
.search .btn{width:30px; float:right; text-align:center; padding:6px 5px; box-shadow:none !important;}
.search .btn:hover i{color:#dc4968;}

.novedades{padding:30px 10% 80px 10%; background:#47cfd9; color:#fff;}
.novedades h2{font-size:48px; font-weight:100; padding:40px 15px; margin-bottom:0; text-align:center;}

#novedades{padding:0;}
.novedades-content{margin-top:10px; padding:0;}
.novedades .list-noticia{cursor:pointer; margin:3px 0; height:480px; background:#fff; padding:0; position:relative; border:8px solid #47cfd9; -webkit-transition: 0.4s; transition: 0.4s; overflow:hidden;}
.novedades .list-noticia a{
	z-index: 99;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.novedades .list-noticia:after{content:'VER M\00c1S'; background:#f5f5f5; position:absolute; padding:12px; bottom:0px; left:0; width:100%; text-align:center; color:#333; font-size:14px; line-height:14px; text-align:center;}
.novedades .list-noticia .imagen{overflow:hidden;}
.novedades .list-noticia .imagen img{-webkit-transition: 0.4s; transition: 0.4s; min-width:100%; max-width:100%;}
.novedades .list-noticia .titulo{font-weight:300; font-size:24px; line-height:26px; padding:15px 25px 8px 25px;  color:#343434;}
.novedades .list-noticia .resumen{padding:0px 25px 70px 25px; font-size:12px; line-height:15px; color:#666; -webkit-transition: 0.4s; transition: 0.4s;}

.novedades .list-noticia.col-md-8 .caption{position:absolute; width:96%; left:2%; bottom:55px; background:rgba(0,0,0,0.35); padding-top:20px; color:#fff;}
.novedades .list-noticia.col-md-8 .titulo, .novedades .list-noticia.col-md-8 .resumen{color:#fff;}
.novedades .list-noticia.col-md-8 .resumen{padding:0 25px 40px 25px;}

.novedades .list-noticia:hover:after{background:#ff4a70; color:#fff; -webkit-transition: background 0.4s; transition: background 0.4s;}

.novedades .list-noticia:hover a{text-decoration:none;}
.novedades .list-noticia:hover .imagen img{
	-ms-transform: scale(1.2) rotate(2deg); /* IE 9 */
    -webkit-transform: scale(1.2) rotate(2deg); /* Safari */
    transform: scale(1.2) rotate(2deg);
	-webkit-transition: 0.4s; transition: 0.4s;
}
.novedades .ms-slide{padding:0;}

.novedades .ms-skin-default .ms-nav-next {
    right: -25%;
    left: auto;
}

.novedades .ms-skin-default .ms-nav-prev {
    left: -25%;
}

.formulario{padding:130px 30%;}
.formulario h3{font-weight:100; font-size:36px; text-align:center; margin-bottom:30px;}
.formulario .input-td input,.formulario .input-td textarea{width:100%; border:1px solid #ededed; background:#ededed; color:#333; padding:12px 8px; resize:none; max-width:100%; margin:2px 0;}
.formulario .input-td textarea{height:260px; background:url(../img/textarea_bg.png) no-repeat center center #ededed; background-size:contain;}
.input-td{padding:0 0; position:relative;}
.formulario .input-td.error input, .formulario .input-td.error_mail input{
	border:1px solid #ff0000;
}

.formulario .btn{text-shadow:none; width:100%; font-size:22px; text-align:center; font-weight:300; padding-left:30px; padding-right:30px; border:0; border-radius:0; margin-top:2px; background: #47cfd9; color:#fff; text-shadow:none;}


@media screen and (min-width: 1440px) {
   .section-header{padding:0; min-height:650px;}
}
@media screen and (max-width:768px) {
	.section-header{height:auto !important;}
	.ms-slide .ms-layer{width:80%; font-size:30px !important; line-height:32px !important; left:5% !important; color:#fff !important;}
	.search{width:80%; margin-left:0; left:10%; bottom:30%;}
	.search input{width:90%;}
	.search .btn{width:10%;}	
}
@media screen and (max-width:600px) {

}