body{background:url(../img/selector_bg.jpg) no-repeat center center; background-size:cover;}
.header{background:#282828;}
.navbar-header, .header .toolbar{display:none;}
.header .logo{background:url(../img/logo_white.png) no-repeat center center;}
.selector{text-align:center; color:#fff; display:table;border-collapse:separate;border-spacing:10px; width:100%;}
.selector h4{margin-bottom:30px;}

.list-selector{display:table-cell; width:170px; height:170px; font-weight:bold; font-size:18px; border-radius:50%; background:#4c4cd7; color:#fff; vertical-align:middle; text-transform:uppercase; -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */ transition: 0.4s;}
.selector a:nth-child(2n+1) .list-selector{background:#31c8d6;}
.selector a:nth-child(3n+1) .list-selector{background:#dc4968;}
.selector a:nth-child(4n+1) .list-selector{background:#fff; color:#000;}
.list-selector:hover{-ms-transform: scale(1.05); -webkit-transform: scale(1.05); transform: scale(1.05); -webkit-transition: 0.4s; transition: 0.4s;}

@media screen and (max-width:768px) {
	.list-selector{width:120px; height:120px; font-size:16px;}
}